.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  font-family: 'League Spartan', cursive;
  height: 95vh;
  background: url("./image/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: left;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Nav-link {
  text-decoration: none;
  color :black;
  margin:0.1%;
  text-align: center;
  width: 5vw;

}

.home{
  height: 95vh;
  background: url("./image/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: left;
}

#smol{
  font-size: 4vw;
}


#aboutme{
  margin:auto;
  position : relative;
  top: 20vh;
}

#center-vertical {
  margin: 0;
  position: relative;
  top: 15vh;
  
}

#project {
  margin:auto;
  position : relative;
  top: 25vh;
}

#project-card{
  text-decoration: none;
  text-align: center;
  height:15vh;
  width:65%;
  margin-left:15%;
}

#project-block{
  position:'relative';
  margin-top:5%}

p#aboutmetext{
  font-size: 2vw;
}

.Sign-container{
  border-style: solid;
  border-width: 1px;
  width: 20vw;
  height: 20vw;
}

.sigCanvas{
  width: 20vw; 
  height: 20vw
}

h1#header{
  font-size: 6vw;
}

p#center-vertical{
  font-size: 2.5vw;
}

.digit p{
  font-size: 2rem;
}